*{

    margin-left: 25px;
    margin: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000;
}

.first{
    margin-top: 25px;
    
}


.cuadrado{
    
    margin-left: 5px;
    margin-top: 1px;
    width: 330px;
    background-color: rgb(255,255,255);
    border: 2px solid red;
    padding: 30px;
    
    
}

.btn{
    margin-top: 40px;
    width: 330px;
    height: 30px;
    background-color: red;
    color: rgb(255,255,255);
    font-weight: bold;
    border-color: red;
    border-radius: 7px;

}
.campo{
    width: 330px;
    height: 20px;
    background-color: lightgray;
    border: 2px solid #000;
    
}


